<nz-list nzItemLayout="vertical">
    <nz-list-item *ngFor="let item of lists">
      <nz-list-item-meta>
        <nz-list-item-meta-avatar [nzSrc]="item.avatar"> </nz-list-item-meta-avatar>
        <nz-list-item-meta-title>
          <a href="{{ item.href }}">{{ item.title }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <ul nz-list-item-actions >
        <nz-list-item-action *ngIf="item.answered">  <nz-tag [nzColor]="'Green'">Answered</nz-tag></nz-list-item-action>
        <nz-list-item-action *ngIf="!item.answered">  <nz-tag [nzColor]="'Red'">Not Answered</nz-tag></nz-list-item-action>
        <nz-list-item-action>  <i style="color: black;">Number of answers: {{item.answer_count}}</i></nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>